# Assignment-2: Data Science Masters 2.0

**Instructions:**
- Answer the following questions.
- Upload the completed Jupyter notebook to GitHub and share the repository link through your dashboard.
- Ensure the repository is public.

### Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
# This is a single-line comment in Python
'''
This is a multi-line comment using triple quotes.
It can span multiple lines.
'''
"""
This is also a multi-line comment using double quotes.
Useful for documentation strings.
"""

### Q2. What are variables in Python? How do you declare and assign values to variables?

In [ ]:
x = 10  # integer variable
y = 3.14  # float variable
name = "Anjali"  # string variable
is_student = True  # boolean variable
print(x, y, name, is_student)

### Q3. How do you convert one data type to another in Python?

In [ ]:
x = 5
float_x = float(x)  # int to float
str_x = str(x)  # int to string
int_x = int("10")  # string to int
print(float_x, str_x, int_x)

### Q4. How do you write and execute a Python script from the command line?

In [ ]:
# Save your script in a file named script.py
# Then run the following command in terminal:
# python script.py

### Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [ ]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

### Q6. What is a complex number in mathematics, and how is it represented in Python?

In [ ]:
complex_num = 2 + 3j
print("Real part:", complex_num.real)
print("Imaginary part:", complex_num.imag)

### Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [ ]:
age = 25
print(age)

### Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [ ]:
price = 9.99
print(price)
print(type(price))  # Output: <class 'float'>

### Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [ ]:
name = "Anjali Kumari"
print(name)

### Q10. Given the string "Hello, World!", extract the substring "World".

In [ ]:
text = "Hello, World!"
substring = text[7:12]
print(substring)

### Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [ ]:
is_student = True  # Assuming you are a student
print(is_student)