Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a=["Arya",23,6.09,31,"45"]

In [2]:
a

['Arya', 23, 6.09, 31, '45']

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [10]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

In [13]:
type(var1)

str

In [14]:
type(var2)

str

In [15]:
type(var3)

list

In [16]:
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [6]:
56/6 #Division(float): divides the first operand by the second and it gives float value

9.333333333333334

In [7]:
45%6 #Modulus: returns the remainder when the first operand is divided by the second

3

In [8]:
3**3 #Exponentiation((Power): Returns first raised to power second

27

In [9]:
56//6 #Floor division): divides the first operand by the second and it gives integer value only

9

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [23]:
Mylist=[1,5,6.3,45,'A',34,'H',5.0,'Suyash',45]

In [25]:
len(Mylist)

10

In [28]:
for i in Mylist :
    print(i)
    print(type(i))

1
<class 'int'>
5
<class 'int'>
6.3
<class 'float'>
45
<class 'int'>
A
<class 'str'>
34
<class 'int'>
H
<class 'str'>
5.0
<class 'float'>
Suyash
<class 'str'>
45
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [10]:
A=int(input())
B=int(input())

 6
 3

In [15]:
while A%B==0 :
    print('A is',A//B,'times divisible by B')
    break
else:
    print('A is not divisible by B')

A is 2 times divisible by B

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [19]:
Thislist=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [22]:
for i in Thislist :
    if i%3==0:
        print(i,'divisible by 3')
    else:
        print(i,'not divisible by 3')

1 not divisible by 3
2 not divisible by 3
3 divisible by 3
4 not divisible by 3
5 not divisible by 3
6 divisible by 3
7 not divisible by 3
8 not divisible by 3
9 divisible by 3
10 not divisible by 3
11 not divisible by 3
12 divisible by 3
13 not divisible by 3
14 not divisible by 3
15 divisible by 3
16 not divisible by 3
17 not divisible by 3
18 divisible by 3
19 not divisible by 3
20 not divisible by 3
21 divisible by 3
22 not divisible by 3
23 not divisible by 3
24 divisible by 3
25 not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Immutable data types: These are of in-built types like int, float, bool, string, unicode, tuple. In simple words, an immutable object can’t be changed after it is created.

In [24]:
b='Subham'
b

'Subham'

In [26]:
b[5]='n'
#Sring is immutable, so it does not support item assignment

TypeError: 'str' object does not support item assignment

Mutable data types : These are of type list, dict, set . We can change its object by doing item assignment.

In [27]:
L=[1,5,8,10]
L

[1, 5, 8, 10]

In [28]:
L[0]=1111
L

[1111, 5, 8, 10]