 ## Q1. What is a database? Differentiate between SQL and NoSQL databases

A **database** is an organized collection of data that allows for efficient storage, access, and management.

### SQL vs NoSQL

| Feature            | SQL (Relational)                      | NoSQL (Non-relational)                 |
|--------------------|----------------------------------------|----------------------------------------|
| Structure          | Tables (rows and columns)             | Key-Value, Document, Graph, etc.       |
| Schema             | Fixed                                  | Dynamic                                |
| Scalability        | Vertical                               | Horizontal                             |
| Query Language     | SQL                                    | JSON-like or custom APIs               |
| Best for           | Structured data                        | Unstructured or semi-structured data   |
| Examples           | MySQL, PostgreSQL, Oracle              | MongoDB, Cassandra, Firebase           |

## Q2. What is DDL? Explain CREATE, DROP, ALTER, and TRUNCATE with an example

**DDL (Data Definition Language)** is used to define and modify database structures like tables and schemas.

#### Examples:

- `CREATE`: Creates a new table
- `DROP`: Deletes a table
- `ALTER`: Modifies table structure
- `TRUNCATE`: Removes all data but keeps structure

students;

**CREATE**
CREATE TABLE students (id INT, name VARCHAR(50));

**ALTER**
ALTER TABLE students ADD age INT;

**TRUNCATE**
TRUNCATE TABLE students;

**DROP**
DROP TABLE students;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example

**DML (Data Manipulation Language)** is used to manage data in existing tables.

#### Examples:

- `INSERT`: Adds new rows
- `UPDATE`: Modifies existing rows
- `DELETE`: Removes rows

-- INSERT
INSERT INTO students (id, name) VALUES (1, 'Anjali');

-- UPDATE
UPDATE students SET name = 'Anju' WHERE id = 1;

-- DELETE
DELETE FROM students WHERE id = 1;

## Q4. What is DQL? Explain SELECT with an example

**DQL (Data Query Language)** is used to query and fetch data from the database.

#### Example:

- `SELECT`: Retrieves rows from one or more tables

SELECT name FROM students WHERE id = 1;

## Q5. Explain Primary Key and Foreign Key

**Primary Key**: A column (or combination) that uniquely identifies each row in a table.

**Foreign Key**: A column that creates a link between two tables by referencing the primary key of another table.

-- PRIMARY KEY & FOREIGN KEY 
#### example ####
CREATE TABLE students (
    id INT PRIMARY KEY,
    name VARCHAR(50)
);

CREATE TABLE marks (
    mark_id INT,
    student_id INT,
    score INT,
    FOREIGN KEY (student_id) REFERENCES students(id)
);

##  Q6. Write a Python code to connect MySQL to Python

In [ ]:
import mysql.connector

# Establish connection to the database
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object
cur = conn.cursor()

# Execute SQL command
cur.execute("SELECT * FROM students")

# Fetch and print results
rows = cur.fetchall()
for row in rows:
    print(row)

# Close the connection
conn.close()

### Explanation:
- `cursor()`: Creates a cursor to interact with the database.
- `execute()`: Executes an SQL statement (SELECT, INSERT, etc.).

## Q7. Order of execution of SQL clauses

SQL queries are executed in the following order:

1. FROM
2. JOIN
3. WHERE
4. GROUP BY
5. HAVING
6. SELECT
7. ORDER BY
8. LIMIT / OFFSET

SELECT name, COUNT(*) 
FROM students 
WHERE age > 18 
GROUP BY name 
HAVING COUNT(*) > 1 
ORDER BY name;